<header class="bg-[var(--navbarColor)] text-[var(--text-colorNavbar)]">
  <nav class="mx-auto flex items-center justify-between p-1 lg:px-8 " aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">quiz</span>
        <img class="h-12 w-auto" src="{{logoUrl}}" alt="">
      </a>
    </div>

    <div class="flex lg:hidden">
      <!-- Botão de menu mobile -->
      <button mat-icon-button (click)="toggle(sidenav)" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="hidden lg:flex lg:gap-x-12">
      <!-- Conteúdo do meio -->
    </div>

    <div class="hidden lg:flex lg:flex-1 lg:justify-end gap-2">
      <button *ngIf="profile" (click)="profilePage()" class="text-sm font-semibold leading-6">{{profile.firstName}} {{profile.lastName}}</button>
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">quiz</span>
          <img class="h-12 w-auto aspect-square object-cover rounded-full" src="{{profile?.profilePicture}}" alt="">
        </a>
      </div>
      <button *ngIf="!isLogado" (click)="login()" class="text-sm font-semibold leading-6">Log in</button>
      <button *ngIf="isLogado" (click)="logout()" class="text-sm font-semibold leading-6">Logout</button>
    </div>
  </nav>

  <!-- Mobile menu, usando mat-sidenav -->
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                (closed)="events.push('close!')">
      Sidenav content
    </mat-sidenav>

    <mat-sidenav-content>
      <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
      <!-- <p><button mat-button (click)="toggle(sidenav)">sidenav.toggle()</button></p> -->
      <p>Events:</p>
      <div class="example-events">
        @for (e of events; track e) {
          <div>{{e}}</div>
        }
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</header>
