/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #3490dc;
  --color-secondary: #ffed4a;
  --primary: #2517e2;
  --primary-hover: #3490dcef;
  --secondary: #ffed4a;
  --text-colorNavbar: #ffffff;
  --navbarColor: #3490dc;
  --colorBody: #3d3b3b;
  --text-colorBody: #81878f;

}
body{
  background-color: var(--colorBody);
  color: var(--text-colorBody);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
